@import 'compass';

html {
  background-color: lightgrey;
}
body {
  margin: 35px auto;
  width: 210mm;
  background-color: transparent;;
}
div.page {
  width: 210mm;
  height: 297mm;
  position: relative;
  margin: 35px auto;
  background-color: white;
  @include box-shadow(0 0 30px 0 transparentize(black, 0.5));
  @include box-sizing(border-box);
}